---
// Qui per ora lasciamo vuoto
---
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Sa scapitzada</title>
  </head>
  <body>
    <h1>Hello Samuelo!</h1>
    <p>this is a file html but in english</p>
  </body>
</html>