---
import FutureProjectText from "../../pages/it/text/futureProject.mdx"
---

<div class="futureProjectBox">
    <FutureProjectText/>
</div>

<style>
    .futureProjectBox {
        padding: 1rem;
        border: 1px solid #3dff02;
    }
</style>