---
import Music from "../Elements/Music.astro";
---
<div>
    <h2>Le nostre prove</h2>
</div>
<Music title="babusu" src="/src/assets/mp3file/bransboynd-groovy-vibe-427121.mp3"/>

<Music title="shfuhfsfh" src="/src/assets/mp3file/bransboynd-groovy-vibe-427121.mp3"/>

<Music title="eduhwiudhwi" src="/src/assets/mp3file/bransboynd-groovy-vibe-427121.mp3"/>

<style>
    h2 {
        padding-top: 50px;
        text-align: center;
    }
</style>