---
// Qui per ora lasciamo vuoto
---
<html lang="it">
  <head>
    <meta charset="utf-8" />
    <title>Il Mio Sito</title>
  </head>
  <body>
    <h1>Ciao Samuelo!</h1>
    <p>Ora questo file è un normale file HTML, ma con estensione .astro</p>
  </body>
</html>