---
// Qui per ora lasciamo vuoto
---
<html lang="sa">
  <head>
    <meta charset="utf-8" />
    <title>Sa scapitzada</title>
  </head>
  <body>
    <h1>Ciao Samuelo!</h1>
    <p>cussu file esti in sardu</p>
  </body>
</html>