---
import AboutText from "../pages/it/text/about.mdx";
---
<div class="aboutBox">
    <AboutText/>
</div>

<style>
    .aboutBox {
        /* Qui puoi mettere i tuoi stili specifici */
        padding: 1rem;
        border: 1px solid #ffd700; /* Un tocco d'oro come volevi */
    }
</style>