---
const {href} = Astro.props; //link a un parametro
---

<a href={href}><slot /></a>

<style>

    a{
        color: red;
        text-decoration: none;
    }

    a:hover{
        color:rgb(251, 159, 0);
    }
</style>

<script>

    

</script>