---
import { Image } from "astro:assets";
import immagineGruppo from "../assets/images/fotoGruppo.jpeg"
---

<div class="MainPhoto">
    <Image src= {immagineGruppo} alt = "Foto del gruppo Sa Scapitzada" />
</div>

<style>
    .MainPhoto img {
        width: 100%;
        max-width: 500px; /* AGGIUSTA QUESTO NUMERO PER LA GRANDEZZA */
        height: auto;
        border: 5px solid aqua;
    }
</style>