---
import ProjectsText from "../pages/it/text/projects.mdx"
---
<div class="projectBox">
    <ProjectsText/>
</div>

<style>
    .projectBox {
        padding: 1rem;
        border: 1px solid #ff0000;
    }
</style>