name: Deploy to GitHub Pages

on:
  push:
    branches: [ main ] # Cambiato da main a master

permissions:
  contents: read
  pages: write
  id-token: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: 'npm'
          cache-dependency-path: './SaScapitzada/package-lock.json'
      - name: Install dependencies
        run: npm install
        working-directory: ./SaScapitzada # Indica dove sono i file
      - name: Build Astro
        run: npm run build
        working-directory: ./SaScapitzada # Indica dove sono i file
      - name: Upload artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: ./SaScapitzada/dist
  deploy:
    needs: build
    runs-on: ubuntu-latest
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4